page-login {
}



.page-login {
    background-image: url('../assets/imgs/background.jpg');
    vertical-align: middle;
   
}

.judul {
    font-size: 25px;
    color:white; 

}

.my-menu {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    }

.caption{
    font-size: 18px;
    color: white;
    margin: 0 auto;    
}
